/* #duration{
      border: solid 10px black;
      height: 150px;
      width: 150px;
      border-radius: 100%;
      color: blue;
      text-align: center;
      font-size: 70px;
      margin: 0 auto;
} */